html {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;;
    color: #666;
}

#wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

#wrapper > div {
    flex: 1;
}

#map {
    height: 100%;
}


.column {
    display: flex;
    flex-direction: column;
}

.column > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart2_3 {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;

}

.chart1 {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;

}


#barrio_name {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#map_name {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#right_side {
    margin-left: 25px;
}