#wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    height: 100%;
    overflow: hidden;
}

#wrapper > div {
    flex: 1;
}

#map {
    background: aquamarine;
}

#charts {
    background: brown;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100%;
    width: 100%;
}

#barrio_name {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

#map_name {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}